openapi: 3.2.0
info:
  title: Rest Data Subjects API
  description: 'Justt official REST api, you can find our docs here: https://justt.readme.io/'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.justt.ai/v1
tags:
- name: Data Subjects
paths:
  /data-subjects/removal:
    post:
      description: Request to remove personal data from the Justt system in compliance with data protection regulations (GDPR, CCPA). This endpoint initiates the data deletion process for a specified customer.
      operationId: DataSubjectsController_requestDataSubjectRemoval
      parameters:
      - name: reference-account-id
        in: header
        description: If your account encompasses multiple merchants, you should use this header to specify the account you are working on (https://developers.justt.ai/docs/reference-accounts)
        required: false
        schema:
          type: string
      requestBody:
        required: true
        description: Data subject removal request containing customer identifier
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSubjectRemovalRequestDto'
      responses:
        '201':
          description: Data subject removal request processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResponseDTO'
        '400':
          description: In the message you can find explanation of what went wrong, please provide the error ID for our support for future investigation if needed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: In the message you can find explanation of what went wrong, please provide the error ID for our support for future investigation if needed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: In the message you can find explanation of what went wrong, please provide the error ID for our support for future investigation if needed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
      - bearer: []
      summary: Request data subject removal
      tags:
      - Data Subjects
components:
  schemas:
    ErrorResponseDTO:
      type: object
      properties:
        status:
          type: number
          example: 500
          description: Error status of the response
        message:
          type: string
          example: Internal Server Error
          description: Description of the error that occurred
        errorId:
          type: string
          example: 04318fb0-e4ff-4712-972e-4db99b3fb23c
          description: A unique identifier you can provide to our support for a better troubleshooting process
      required:
      - status
      - message
    DataSubjectRemovalRequestDto:
      type: object
      properties:
        email:
          type: string
          description: Email address of the data subject
          example: john.doe@example.com
        firstName:
          type: string
          description: First name of the data subject
          example: John
        lastName:
          type: string
          description: Last name of the data subject
          example: Doe
      required:
      - email
      - firstName
      - lastName
    HttpStatus:
      type: number
      enum:
      - 100
      - 101
      - 102
      - 103
      - 200
      - 201
      - 202
      - 203
      - 204
      - 205
      - 206
      - 207
      - 208
      - 210
      - 300
      - 301
      - 302
      - 303
      - 304
      - 307
      - 308
      - 400
      - 401
      - 402
      - 403
      - 404
      - 405
      - 406
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 414
      - 415
      - 416
      - 417
      - 418
      - 421
      - 422
      - 423
      - 424
      - 428
      - 429
      - 456
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 507
      - 508
      description: The status of the response
    RestApiResponseDTO:
      type: object
      properties:
        status:
          example: 201
          description: The status of the response
          allOf:
          - $ref: '#/components/schemas/HttpStatus'
        message:
          type: string
          example: success
          description: The message of the response
      required:
      - status
      - message
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
